@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/?ticker=AAPL">AAPL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/?ticker=GOOG">GOOG</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/?ticker=AMZN">AMZN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/?ticker=MSFT">MSFT</a>
    </li>
</ul>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
  // Initialise the echarts instance based on the prepared dom
  var myChart = echarts.init(document.getElementById('main'), 'dark', {
      width: 1000,
      height: 800
  });

  
  // Specify the configuration items and data for the chart
  var option = {

      dataZoom: {type: 'slider'},
      
      grid: 
      {
          width: 800,
      },
      
      
      
      
      xAxis: {
          // The Asp library replaces certain characters with the corresponding html code in order to "help".
          //  Html.Raw tells the Asp to not help.
          data: @Html.Raw(Model.LabelsData)
      },
      yAxis: {},
      series: [
          {
              type: 'candlestick',
              data: @Html.Raw(Model.CandlesData)
          }
      ]
  };
  

  // Display the chart using the configuration items and data just specified.
  myChart.setOption(option);
</script>